body {
    font-family: Arial;
    margin: 20px;
}

header {
    background: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    border: 1px solid gray;
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
}

button {
    background: green;
    color: white;
    padding: 8px;
    border: none;
}
